# This is the .desktop file, this file is the responsible file about
# showing your application in the applications menu in any desktop interface,
# it's important to add this file to your project, you can view more details
# about this file from here:
# https://developer.gnome.org/integration-guide/stable/desktop-files.html.en

# The default name of the program.
[Desktop Entry]
Name=pyedpro.py

# Description of the file.
Comment=A powerful text editor

# The command that's going to be executed when the application is launched
#from the applications menu, you can enter the name of the Python script or
#the full path if you want like /usr/bin/myprogram

Exec="python pyedpro.py"

# Do you want to run your program from the terminal?
#Terminal=false

# Leave this like that.
Type=Application

# Enter the name of the icon you want to use for the application, you can
#enter a path for the icon as well like /usr/share/pixmaps/icon.png but make
#sure to include the icon.png file in your project folder first and in the
#setup.py file as well. Here we'll use the "system" icon for now.

Icon=/usr/share/icons/hicolor/96x96/apps/pyedpro

# The category of the file, you can view the available categories from the
# freedesktop website.
Categories=GNOME;GTK;Utility;
StartupNotify=false

# EOF
