Package: pyedpro.py
Version: 1.0
Architecture: amd64
Maintainer: peterglen99 <peterglen99@gmail.com>
Installed-Size: 3132
Depends: python-gi
Section: utils
Priority: optional
Description: Python Text Editor
   PyEdPro is a modern multi-platform editor. Simple, powerful,
 configurable, extendable. Goodies like macro recording / playback, spell check,
 column select, multiple clipboards, unlimited undo ... makes it an editor
 that I use every day.
 This project is a successor of pyedit, after porting it to GTK3. PyEdPro
 will run anywhere PyGTK (GObject) can run.
 PyEdPro.py has macro recording/play, search/replace, one click function navigation,
 auto backup, undo/redo, auto complete, auto correct, syntax check, spell suggestion
 ... and a lot more.
   The recorded macros, undo / redo information / editing session detail persists
 after the editor is closed.
    The spell checker can check code comments. The parsing of the code is
 rudimentary,  comments and strings are spell checked. (Press F9) The code is filtered
 out for Python and  'C', which assures most derivative languages have correct
 code spell code check. The whole file can be checked in text spell mode.
 (Shift-F9) The spell checker is executed on live text. (while typing)
